.progress-bar {
    background-color: $dark-blue;
    border-bottom: 1.6rem solid lighten($dark-blue-opaque, 10%);
    border-radius: 4px;
    box-shadow: 0 0 0 2px black;
    height: 4rem;
    margin-bottom: $s-size;
    position: relative;
    transform: skewX($box-angle);
    width: 25rem;
}

.progress-bar__inner {
    border-radius: 4px;
    box-shadow: 0 0 0 2px black;
    height: 165%;
}

.progess-bar__values-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 35%;
    width: 100%;
}

.progess-bar__icon {
    left: -20px;
    position: absolute;
    top: -10px;
    width: 4.2rem;
}

.progress-bar__value {
    left: -8px;
    position: absolute;
    top: -1px;
}