.find-player__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.find-player__title {
    font-size: $font-size-xlarge;
    margin: 0 0 $l-size 0;
    text-transform: uppercase;
}

.find-player__logo {
    width: 30rem;
}

.find-player__error {
    color: $yellow;
    font-size: 2rem;
    margin-top: 0;
}

.find-player__form {
    align-items: center;
    display: flex;
    margin-bottom: 16rem;
}

.find-player__hashtag {
    @extend .box;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    transform: skewX($box-angle);
    width: $xl-size;
}

.find-player__button {
    @extend .box--yellow;
    cursor: pointer;
    height: 100%;
    outline: none;
    padding: 0 $m-size;
    transform: skewX($box-angle);
    transition: height 100ms;

    img {
        width: $l-size;
    }

    &:active {
        height: 90%;
    }
}

.find-player__button--loading {
    pointer-events: none;
}

.find-player__button-loader {
    border: 4px solid $yellow;
    border-radius: 50%;
    border-top: 4px solid white;
    width: 3rem;
    height: 3rem;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: $desktop-breakpoint) {
    .find-player__logo {
        width: 15rem;
    }

    .find-player__title {
        font-size: $font-size-large;
    }
}


@media (max-width: $desktop-breakpoint) {
    .player-general-info__content {
        flex-direction: column;
    }

    .player-general-info__image-tag {
        justify-content: center;
    }

    .player-stats-container__row {
        flex-direction: column;
    }
}